@tailwind base;
@tailwind components;
@tailwind utilities;

.shippori-antique-b1-regular {
  font-family: "Shippori Antique B1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#root {
  width: 100vw;
}

body,
#root {
  font-family: "Shippori Antique B1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ma-shan-zheng-regular {
  font-family: "Ma Shan Zheng", serif;
  font-weight: 400;
  font-style: normal;
}

.cards.g-auto.s-max {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, clamp(80px, max(20vh, 20vw), 260px)); */
  grid-template-columns: repeat(auto-fit, clamp(80px, max(20vh, 20vw), 260px));
  gap: 6px;
  justify-content: center;
}

.cards.g-fixed.s-max {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
  justify-content: center;
}

.cards.g-auto.s-full {
  display: grid;
  max-height: 100vh;

  /* grid-template-columns: repeat(auto-fit, clamp(80px, max(20vh, 20vw), 300px)); */
  --cccc: max(20vh, 20vw);
  /* grid-template-columns: repeat(auto-fit, clamp(80px, 20vw, 260px)); */
  grid-template-columns: repeat(auto-fit, clamp(80px, var(--cccc), 260px));
  /* grid-template-rows: repeat(auto-fit, calc((100vh - 40px) / 5)); */
  grid-template-rows: repeat(auto-fit, auto);
  gap: 6px;

  justify-content: center;
}

.cards.g-fixed.s-full {
  display: grid;
  max-height: 96vh;

  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
  gap: 6px;

  justify-content: center;
}

.cards.g-auto.s-max.i-1-1 .card,
.cards.g-fixed.s-max.i-1-1 .card {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.cards.g-auto.s-full.i-1-1 .card,
.cards.g-fixed.s-full.i-1-1 .card {
  aspect-ratio: 1 / 1;
  height: 100%;
}

.cards.g-auto.s-max.i-4-3 .card,
.cards.g-fixed.s-max.i-4-3 .card {
  aspect-ratio: 4 / 3;
  width: 100%;
}

.cards.g-auto.s-full.i-4-3 .card,
.cards.g-fixed.s-full.i-4-3 .card {
  aspect-ratio: 4 / 3;
  height: 100%;
}

.cards.g-auto.s-max.i-16-9 .card,
.cards.g-fixed.s-max.i-16-9 .card {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.cards.g-auto.s-full.i-16-9 .card,
.cards.g-fixed.s-full.i-16-9 .card {
  aspect-ratio: 16 / 9;
  height: 100%;
}

.cards.g-auto.s-max.i-3-4 .card,
.cards.g-fixed.s-max.i-3-4 .card {
  aspect-ratio: 3 / 4;
  height: 100%;
  /* width: 100%; */
}

.cards.g-auto.s-full.i-3-4 .card,
.cards.g-fixed.s-full.i-3-4 .card {
  aspect-ratio: 3 / 4;
  /* width: 100%; */
  height: 100%;
}

.cards.g-fixed.s-full.i-auto {
}

.cards.g-fixed.s-full.i-4-3 {
  @apply ml-[0%] lg:ml-[1%] xl:ml-[4%];
}

.cards.g-fixed.s-full.i-1-1 {
  @apply ml-[0%] lg:ml-[2%] xl:ml-[7%];
}

.cards.g-fixed.s-full.i-16-9 {
  @apply ml-[0%] 2xl:ml-[2%];
}

.cards.g-fixed.s-full.i-3-4 {
  @apply ml-[0%] md:ml-[2%] lg:ml-[4%] xl:ml-[9%];
}

.cards.g-auto.s-full.i-auto {
}

.glass {
  -webkit-backdrop-filter: blur(3px); /* 兼容 Safari */
  transform: translate3d(0, 0, 0); /* 强制硬件加速 */

  /* background-color: rgba(255, 255, 255, 0.15); */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.07),
    0 10px 10px rgba(15, 88, 197, 0.25);
}

.glass-2 {
  -webkit-backdrop-filter: blur(2px); /* 兼容 Safari */
  transform: translate3d(0, 0, 0); /* 强制硬件加速 */

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.07),
    0 10px 10px rgba(15, 88, 197, 0.25);
}

.glass-3 {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate3d(0, 0, 0); /* 强制硬件加速 */

  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.07),
    0 10px 10px rgba(15, 88, 197, 0.25);
}

.bgi {
  background-image: url("ttt.png");
  /* background-size: cover; */
  background-size: 100% 105%;
  /* background-position: 0px -280px; */
  background-position: 0px -15px;
}

.big-text {
  font-size: clamp(1rem, min(10vh, 10vw), 7rem);
  /* font-size: 14vh; */
}

.aspect-square-j {
  aspect-ratio: 1 / 1 !important;
}

.describe {
  display: block;
  position: absolute;
  top: 45%;
  left: 45%;
  bottom: 50%;
  right: 50%;
  height: 0px;
  width: 0px;
  /* height: 40px;
  width: 40px; */
  overflow: hidden;
  @apply rounded-2xl;
}

.describe.show {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  @apply rounded-none justify-center items-center p-0;
}

.describe .bgi {
  @apply h-full p-0 m-0 w-full;
}

.describe.show .bgi {
  @apply p-4 rounded-md w-[max(90%,18rem)] max-h-[88%] flex-col sm:flex-row sm:flex justify-center items-center;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.describe button {
  @apply opacity-0;
}

.describe.show button {
  @apply opacity-100;
}

.describe .card-img {
  height: 150%;
}

.describe.show .card-img {
  @apply overflow-hidden p-0 sm:max-w-[55%] sm:mr-4 sm:min-h-[30%] max-h-full w-full sm:h-fit;
}

.loader {
  width: 100px;
  height: 100px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #2c353a; /* 主要颜色 */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
